@{
    ViewData["Title"] = "Classmate's Links";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Classmates</h2>
                    <p>These are my classmates from my course at Centriq. I have included link's to their personal sites and LinkedIn as well.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>Classmates</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-4">
                    <article class="entry">
                        <div class="entry-img">
                            <img src="~/assets/img/team/Ethan.jpg" alt="Ethan" class="img-fluid">
                        </div>
                        <h2 class="entry-title">
                            <p>Ethan Anderson-Alexander</p>
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"></i> <a href="http://www.ethanjamesaa.com/">Personal Site</a></li>
                                <li class="d-flex align-items-center"></i> <a href="https://www.linkedin.com/in/ethan-alexander-dev/">Linked In</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4">
                    <article class="entry">
                        <div class="entry-img">
                            <img src="~/assets/img/team/Taryn.jpg" alt="Taryn" class="img-fluid">
                        </div>
                        <h2 class="entry-title">
                            <p>Taryn Ambrosi</p>
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"></i> <a href="http://www.ambrosidev.net">Personal Site</a></li>
                                <li class="d-flex align-items-center"></i> <a href="https://www.linkedin.com/in/taryn-ambrosi/">Linked In</a></li>
                            </ul>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4">
                    <article class="entry">
                        <div class="entry-img">
                            <img src="~/assets/img/team/Austin.jpg" alt="Austin" class="img-fluid">
                        </div>
                        <h2 class="entry-title">
                            <p>Austin Farrow</p>
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"></i> <a href="http://www.austinfarrow.com/">Personal Site</a></li>
                                <li class="d-flex align-items-center"></i> <a href="https://www.linkedin.com/in/austin-farrow">Linked In</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4">
                    <article class="entry">
                        <div class="entry-img">
                            <img src="~/assets/img/team/Haley.jpg" alt="Haley" class="img-fluid">
                        </div>
                        <h2 class="entry-title">
                            <p>Haley Killingsworth</p>
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"></i> <a href="http://www.haleykillingsworth.com">Personal Site</a></li>
                                <li class="d-flex align-items-center"></i> <a href="https://www.linkedin.com/in/haley-killingsworth-4315b2199/">Linked In</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4">
                    <article class="entry">
                        <div class="entry-img">
                            <img src="~/assets/img/team/Thomas.jpg" alt="Thomas" class="img-fluid">
                        </div>
                        <h2 class="entry-title">
                            <p>Thomas Walton</p>
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"></i> <a href="http://www.thomaswaltondev.com">Personal Site</a></li>
                                <li class="d-flex align-items-center"></i> <a href="https://www.linkedin.com/in/thomaswalton98">Linked In</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Section -->

</main><!-- End #main -->
