@{
    ViewData["Title"] = "Home Page";
}

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row justify-content-end">
                <div class="col-lg-11">
                </div>
            </div>

            <div class="row">

                <div class="col-lg-5 video-box align-self-baseline position-relative">
                    <img src="assets/img/HeadshotSmaller.JPG" class="img-fluid" alt="">

                </div>

                <div class="col-lg-7 pt-3 pt-lg-0 content">
                    <h3>Beginning My Journey Into the Industry...</h3>

                    <p>
                        <br>
                        After nearly six years in the hairdressing industry, where I grew my communication, organization, and planning skills, I'm embarking on a new adventure in the world of technology. While my time in hairdressing was incredibly rewarding, I've discovered a passion for IT that I'm eager to explore further.
                        <br><br>
                        What draws me to technology is not only the limitless opportunities for growth and innovation but also the flexibility and freedom it offers. As someone who values autonomy and the ability to chart my own path, I see Web Development as the perfect fit for my career aspirations. One aspect of technology that particularly intrigues me is the creative potential of web development. I'm fascinated by the opportunity to blend technical expertise with artistic flair to bring ideas to life online.
                        <br><br>
                        The skills I cultivated during my time in the salon - such as effective communication with clients, managing appointments for over 275 clients, and perfecting my creative artistry and skill - are highly transferable to the tech industry. I believe these skills will not only serve me well but also provide a unique perspective as I navigate this new terrain.
                        <br><br>
                        I have compiled different helpful links and projects I've worked on so far to display my talents and experience. Feel free to check it out and thanks for looking!
                    </p>

                    <object data="assets/img/CatieResume.pdf" type="pdf" width="100%" height="500px">
                        <p>
                            <strong>
                                <br><br>I have included a link to my Resume<a href="assets/img/CatieResume.pdf"> here</a>.
                            </strong>
                        </p>
                    </object>
                </div>

            </div>

        </div>
    </section><!-- End About Section -->


</main><!-- End #main -->
