@{
    ViewData["Home"] = "React ToDo Details";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>React ToDo Details</h2>
                    <p>Single page application built using React JS.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>React ToDo Details</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/portfolio/ToDos.png" alt="figures posed like they're working construction">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/portfolio/ToDosVSCode.png" alt="figures posed like they're working construction">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/portfolio/Categories.png" alt="figures posed like they're working construction">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Front End</li>
                            <li><strong>Program</strong>: React JS</li>
                            <li><strong>Project date</strong>: April 29, 2024</li>
                            <li><strong>Github Repo Link</strong>: <a href="https://github.com/catgwat/react-todo">https://github.com/catgwat/react-todo</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>React ToDo Portfolio Detail</h2>
                        <p>
                            The React ToDo application showcases my ability to create a single page application using React JS. The application allows users to sign in using their GitHub account to view their to do list, view their progress, and check items off accordingly. Users will be able to add, edit, delete, or mark to do items as complete. This application leverages the .NET Web API as the backend of the application.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
