@{
    ViewData["Home"] = "StoreFront Details";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>StoreFront Details</h2>
                    <p>The StoreFront Application showcases my ability to build a full stack web application. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>StoreFront Details</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/portfolio/Screenshot (167).png" alt="figures posed like they're working construction">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/portfolio/Screenshot (168).png" alt="figures posed like they're working construction">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/portfolio/Screenshot 2024-04-16 161005.png" alt="figures posed like they're working construction">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Full Stack </li>
                            <li><strong>Program</strong>: .NET MVC Core </li>
                            <li><strong>Project date</strong>: April 15, 2024</li>
                            <li><strong>Github Repo Link</strong>: <a href="https://github.com/catgwat/StoreFront"> https://github.com/catgwat/StoreFront </a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>StoreFront Portfolio Detail</h2>
                        <p>
                            Created a secure application for managing product data. Application is built to
                            simulate an online beauty supply store front with a shopping cart. Administrators have the ability to manage
                            product, category and vendor data.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->