@{
    ViewData["Home"] = "ToDo API Details";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>ToDo API Details</h2>
                    <p>blurb </p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>ToDo API Details</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/portfolio/ToDoApi.png" alt="ToDoAPI application">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/portfolio/ToDoCode.png" alt="Code snippet of categories controller">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/portfolio/ToDoGet.png" alt="Get ToDos function in API">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Back end </li>
                            <li><strong>Program</strong>: RESTful API </li>
                            <li><strong>Project date</strong>: April 22, 2024</li>
                            <li><strong>Github Repo Link</strong>: <a href="https://github.com/catgwat/ToDoAPI">https://github.com/catgwat/ToDoAPI</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>ToDo API Portfolio Detail</h2>
                        <p>
                            The Web API project is used to showcase my ability to create a RESTful API that can be consumed by another application.  The topic of this API is to provide the backend for a To Do list application (React ToDo).  The application will provide all necessary endpoints to allow the consuming application to have full CRUD functionality for To Do items.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
